<ion-header>
  <ion-toolbar mode='ios'>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Ajouter une catégorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

    <ion-card-content>
      <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
        <ion-list>
        <div>
            <ion-label style="font-size: 18px;color:rgb(124, 67, 64);font-weight: bold;">Nom:</ion-label>
            <ion-input type="text" formControlName="nom" ></ion-input>
        </div>
        <div>
          <ion-label style="font-size: 18px;color:rgb(124, 67, 64);font-weight: bold;">Image:</ion-label>
          <input type='file'(change)="imageselect()" id="img" formControlName="image" />
        </div>
        <div style='margin-left: auto;margin-right: auto; font-size:15px;height:40px;width:100px;margin-top: 5px;'>
          <ion-button type="submit" color="medium" [disabled]="!categoryForm.valid">Ajouter</ion-button>
        </div>
      </ion-list>
      </form>
    </ion-card-content>
  </ion-card>



</ion-content>
